@using System
@using System.Collections.Generic
@using System
@using System.Globalization
@using GoQuoEngine.Data.Domain
@using System.Linq
@using GoQuoEngine.Hotels

@{
    Booking booking = Model.Booking;
    var hotel = booking.Hotels.First();
    var providerNames = hotel.HotelRooms.Select(h => h.ProviderName).Distinct();
    string supplierName = String.Join(",", providerNames);
    string hotelConfirmNumber = hotel.HotelRooms?.First().ConfirmationNumber;
    var isUserB2B = Model.IsB2B;
    var isShowPriceInVoucher = booking.ShowPriceInVoucher;
    string to = Model.Booking.To.ToString();
    string[] cityOfSA = { "AHB", "ABT", "RAE", "BHH", "DMM", "DHA", "ELQ", "URY", "HBT", "HAS", "HOF", "GIZ", "JED", "AJF", "MED", "EAM", "AQI", "RAH", "RUH", "SHW", "SLF", "TUU", "TIF", "TUI", "WAE", "EJH", "YNB" };
    bool isShowText = cityOfSA.Contains(to);

    var productName = "Hotel";
}
<link rel="stylesheet" href="https://etihad-staging.goquo.vn/css/fonts.css">
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: "AltisBook",arial, helvetica, sans-serif;
    }

    strong, h1, h2, h3, h4, h5, h6, th {
        font-family: "AltisMedium",arial, helvetica, sans-serif;
        font-weight: normal;
    }

    .paper {
        height: 34cm;
        margin: 0;
        padding: 0;
    }

    .paper_content {
        height: 32.5cm;
        margin: 0;
        padding: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

        body > table {
            margin: 0;
            padding: 0;
        }

    .has-bottom-margin {
        margin-bottom: 20px;
    }

    .pdf-branding h3 {
        background-color: #270015;
        color: #fff;
        padding: 10px;
        display: inline-block;
        margin-bottom: -25px;
        text-transform: uppercase;
        border-top-left-radius: 10px;
    }

    .pdf-branding__logo {
        margin-bottom: 5px;
        max-height: 62px;
    }

    .pdf-branding__horizontal-line {
        border-bottom: 2px solid #270015;
    }

    .pdf-summary th, .pdf-summary td {
        padding: 2px 6px;
    }

    .pdf-summary__price {
        vertical-align: top;
    }

        .pdf-summary__price p {
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .pdf-summary__price h3 {
            font-size: 25px;
            text-transform: uppercase;
            color: #c4921b;
        }

    .pdf-detail.type-2 > thead > tr > th {
        background-color: #e2e2e2;
        color: #000;
    }

    .pdf-detail td {
        background: #e2e2e2;
    }

    .pdf-detail th, .pdf-detail td {
        padding: 6px;
    }

    .pdf-detail > thead > tr > th {
        background-color: #270015;
        color: #fff;
        font-size: 25px;
        text-transform: uppercase;
    }

    .pdf-detail.info > thead > tr > th {
        background-color: #c4921b;
    }

    .pdf-detail > tbody > tr > td {
        padding: 20px;
    }

        .pdf-detail > tbody > tr > td > h4 {
            text-align: center;
        }

    .pdf-detail__sub.text-center {
        text-align: center;
    }

    .pdf-detail__sub td {
        background-color: #fff;
        max-width: 200px;
        vertical-align: top;
    }

    .pdf-detail__sub > thead > tr > th {
        font-size: 22px;
        font-style: italic;
    }

    .pdf-detail__sub.type-2 h2 {
        color: #c4921b;
    }

    .pdf-detail__sub.type-3 ul {
        list-style: none;
        margin: 15px 0;
    }

        .pdf-detail__sub.type-3 ul li {
            line-height: 25px;
            padding-left: 15px;
        }

    .pdf-detail__sub.intro tr td img {
        height: 80px;
        display: inline-block;
        margin: 15px auto;
    }

    .pdf-detail__sub.intro tr td p {
        margin-bottom: 5px;
    }

    .pdf-detail__sub.intro tr td {
        text-align: center;
    }

    .pdf-detail__sub.note tr td {
        padding: 15px 15px 5px 15px;
    }

        .pdf-detail__sub.note tr td p {
            margin-bottom: 10px;
        }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .has-bottom-border {
        border-bottom: 2px solid #e2e2e2;
    }

    .has-top-border {
        border-top: 2px solid #e2e2e2;
    }

    .paper_footer {
        background: #e2e2e2;
        height: 1.5cm;
        line-height: 1.5cm;
    }
</style>

<div class="paper">
    <div class="paper_content">
        <table class="pdf-branding has-bottom-margin" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr class="pdf-branding__horizontal-line">
                    <th class="text-left">
                        <img src="https://gqcdn.s3-ap-southeast-1.amazonaws.com/Images/Etihad/logo.png" alt="Etihad logo" class="pdf-branding__logo" />
                    </th>
                    <th class="text-right">
                        <h3>Hotel Voucher</h3>
                    </th>
                </tr>
            </thead>
        </table>

        <table class="pdf-summary has-bottom-margin" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        @supplierName Booking ID
                                    </td>
                                    <td>
                                        <p><strong>@hotel.ProviderBookingReference</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Booking Reference
                                    </td>
                                    <td>
                                        <p><strong>@booking.BookingConfirmRef</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Issue Date
                                    </td>
                                    <td>
                                        <p><strong>@booking.BookingDate.ToString("dd MMM yyyy")</strong></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="pdf-detail has-bottom-margin" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        Hotel Details
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="pdf-detail__sub" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                @if (!string.IsNullOrEmpty(supplierName) && supplierName.ToLower().Contains("agoda"))
                                {
                                    <tr class="has-bottom-border">
                                        <td colspan="2">
                                            <table class="pdf-detail__sub-child" border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="25%">
                                                            <p>
                                                                <strong>Important Note:</strong>
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p>
                                                                <strong>This booking is prepaid.</strong>
                                                            </p>
                                                            <p><span>Please present this prepaid voucher upon check in.</span></p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                }
                                <tr class="has-bottom-border">
                                    <td colspan="2">
                                        <table class="pdf-detail__sub-child" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td width="25%">
                                                        <strong>Hotel Name:</strong>
                                                    </td>
                                                    <td>
                                                        @hotel.Name
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <table class="pdf-detail__sub-child" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td width="50%">
                                                        <strong>Hotel Address</strong>
                                                    </td>
                                                    <td>
                                                        @hotel.Address
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Hotel Contact Number</strong>
                                                    </td>
                                                    <td>
                                                        @hotel.Telephone
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Hotel Confirmation Numbers</strong>
                                                    </td>
                                                    <td>
                                                        @hotelConfirmNumber
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td width="50%">
                                                        <strong>Check-in Date:</strong>
                                                    </td>
                                                    <td>
                                                        @((Model.Booking.CheckIn != null && Model.Booking.CheckIn != DateTime.MinValue) ? Model.Booking.CheckIn?.ToString("dd/MM/yyyy") : Model.Booking.DepartureDate.ToString("dd MMM yyyy")) - <span>2.00 PM</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Check-out Date:</strong>
                                                    </td>
                                                    <td>
                                                        @((Model.Booking.CheckOut != null && Model.Booking.CheckOut != DateTime.MinValue) ? Model.Booking.CheckOut?.ToString("dd/MM/yyyy") : Model.Booking.ReturnDate.ToString("dd/MM/yyyy")) - <span>12.00 PM</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Number of Nights</strong>
                                                    </td>
                                                    <td>
                                                        @((@Model.Booking.ReturnDate - @Model.Booking.DepartureDate).TotalDays)
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                @if (!string.IsNullOrEmpty(hotel.CheckInInstructions))
                                {
                                    <tr class="has-top-border">
                                        <td colspan="2">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="25%">
                                                            <strong>Check-in Instruction: </strong>
                                                        </td>
                                                        <td>
                                                            <em>
                                                                @Raw(hotel.CheckInInstructions + " ")
                                                            </em>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                }
                                @if (!string.IsNullOrEmpty(supplierName) && supplierName.ToLower().Contains("agoda"))
                                {
                                    <tr class="has-top-border">
                                        <td colspan="2">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="25%">
                                                            <strong>Hotel Remark: </strong>
                                                        </td>
                                                        <td>
                                                            <em>
                                                                @hotel.Remarks
                                                            </em>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                }
                                <tr class="has-top-border">
                                    <td colspan="2">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <em>
                                                            *Notes: These are general checkin/checkout times. Please confirm with the hotel upon checking in to avoid inconvenience
                                                        </em>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="pdf-detail has-bottom-margin" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        Room Details
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (byte i = 0; i < hotel.HotelRooms.Count; i++)
                {
                    var availableRoom = hotel.HotelRooms.ElementAt(i);
                    var promos = availableRoom.GetPromos();
                    <tr>
                        <td>
                            <table class="pdf-detail__sub" border="0" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-left">#Room @(i + 1)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="50%">
                                            <table class="pdf-detail__sub-child" border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="50%">
                                                            <strong>Room Type</strong>
                                                        </td>
                                                        <td>
                                                            @Raw(availableRoom.Description + " ")
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Number of Guests / Room</strong>
                                                        </td>
                                                        <td>
                                                            @(availableRoom.Adults > 0 ? (availableRoom.Adults > 1 ? availableRoom.Adults + " " + "Adults" : availableRoom.Adults + " " + "Adult") : "")
                                                            @(availableRoom.Children > 0 ? (availableRoom.Children > 1 ? availableRoom.Children + " " + "Children" : availableRoom.Children + " " + "Child") : "")
                                                            @(availableRoom.Infants > 0 ? (availableRoom.Infants > 1 ? availableRoom.Infants + " " + "Infants" : availableRoom.Infants + " " + "Infant") : "")
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr width="50%">
                                                        <td>
                                                            <strong>Board Basis</strong>
                                                        </td>
                                                        <td>
                                                            @Raw(availableRoom.BoardCodeDescription + " ")
                                                        </td>
                                                    </tr>
                                                    @if (!string.IsNullOrEmpty(availableRoom.ConfirmationNumber))
                                                    {
                                                        <tr>
                                                            <td>
                                                                <strong>Room Confirmation Number</strong>
                                                            </td>
                                                            <td>
                                                                @availableRoom.ConfirmationNumber
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr class="has-top-border">
                                        <td colspan="2">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="25%">
                                                            <strong>Cancellation Policy</strong>
                                                        </td>
                                                        <td>
                                                            @if (availableRoom.CancelFreeBeforeDate > DateTime.MinValue && availableRoom.CancelFreeBeforeDate >= Model.Booking.BookingDate)
                                                            {
                                                                <em>
                                                                    No cancellation allowed after @availableRoom.CancelFreeBeforeDate?.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
                                                                    <span style="display: block;">* Cancellation is based on Hotel Cancellation Policy</span>
                                                                </em>
                                                            }
                                                            else
                                                            {
                                                                <em>This booking is Non-Refundable and cannot be amended or modified. Failure to arrive at your hotel will be treated as a No-Show and no refund will be given (Hotel policy).</em>
                                                            }
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    @if (promos != null && promos.Any())
                                    {
                                        <tr class="has-top-border">
                                            <td colspan="2">
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td width="25%">Promotion Details: </td>
                                                            <td>
                                                                @foreach (var promo in promos)
                                                                {
                                                                    <div>@Raw(promo.Name)</div>
                                                                }
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pdf-detail type-2 paper_footer">
        <h4 class="text-center">&copy; Copyright 2018 Etihad Holidays.</h4>
    </div>
</div>
<p style="page-break-after: always;"></p>

<div class="paper">
    <div class="paper_content">
        <table class="pdf-detail has-bottom-margin" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        Guest Details
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="pdf-detail__sub text-center" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <th><strong>#</strong></th>
                                    <th><strong>Name</strong></th>
                                    <th><strong>Guest Type</strong></th>
                                </tr>
                                @for (int i = 0; i < Model.Passengers.Count; i++)
                                {
                                    <tr>
                                        <td><span>@(i + 1).</span></td>
                                        <td><span>@Model.Passengers[i].Title @Model.Passengers[i].FirstName @Model.Passengers[i].LastName</span></td>
                                        <td><span>@Model.Passengers[i].PassengerType</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pdf-detail type-2 paper_footer">
        <h4 class="text-center">&copy; Copyright 2018 Etihad Holidays.</h4>
    </div>
</div>
<p style="page-break-after: always;"></p>

<div class="paper">
    <div class="paper_content">
        <table class="pdf-branding has-bottom-margin" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr class="pdf-branding__horizontal-line">
                    <th class="text-left">
                        <img src="https://gqcdn.s3-ap-southeast-1.amazonaws.com/Images/Etihad/logo.png" alt="Etihad logo" class="pdf-branding__logo" />
                    </th>
                    <th class="text-right">
                        <h3>Official Receipt</h3>
                    </th>
                </tr>
            </thead>
        </table>

        <table class="pdf-summary has-bottom-margin" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        To
                                    </td>
                                    <td>
                                        <p><strong>@Model.Booking.Passengers[0].Title @Model.Booking.Passengers[0].FirstName @Model.Booking.Passengers[0].LastName</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Issue Date
                                    </td>
                                    <td>
                                        <p><strong>@booking.BookingDate.ToString("dd MMM yyyy")</strong></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="text-right pdf-summary__price">
                        <p>Confirmation No.</p>
                        <h3>@booking.BookingConfirmRef</h3>
                    </td>
                </tr>
            </tbody>
        </table>


        <table class="pdf-detail has-bottom-margin" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        Booking Details
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="pdf-detail__sub" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                @if (!string.IsNullOrEmpty(supplierName) && supplierName.ToLower().Contains("agoda"))
                                {
                                    <tr class="has-bottom-border">
                                        <td colspan="2">
                                            <table class="pdf-detail__sub-child" border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="25%">
                                                            <p>
                                                                <strong>Important Note:</strong>
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <p>
                                                                <strong>This booking is prepaid.</strong>
                                                            </p>
                                                            <p><span>Please present this prepaid voucher upon check in.</span></p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                }
                                <tr class="has-bottom-border">
                                    <td colspan="2">
                                        <table class="pdf-detail__sub-child" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td width="25%">
                                                        <strong>Hotel Name:</strong>
                                                    </td>
                                                    <td>
                                                        @hotel.Name
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <table class="pdf-detail__sub-child" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td width="50%">
                                                        <strong>Hotel Address</strong>
                                                    </td>
                                                    <td>
                                                        @hotel.Address
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Hotel Contact Number</strong>
                                                    </td>
                                                    <td>
                                                        @hotel.Telephone
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Hotel Confirmation Numbers</strong>
                                                    </td>
                                                    <td>
                                                        @hotelConfirmNumber
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td width="50%">
                                                        <strong>Check-in Date:</strong>
                                                    </td>
                                                    <td>
                                                        @((Model.Booking.CheckIn != null && Model.Booking.CheckIn != DateTime.MinValue) ? Model.Booking.CheckIn?.ToString("dd/MM/yyyy") : Model.Booking.DepartureDate.ToString("dd MMM yyyy")) - <span>2.00 PM</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Check-out Date:</strong>
                                                    </td>
                                                    <td>
                                                        @((Model.Booking.CheckOut != null && Model.Booking.CheckOut != DateTime.MinValue) ? Model.Booking.CheckOut?.ToString("dd/MM/yyyy") : Model.Booking.ReturnDate.ToString("dd/MM/yyyy")) - <span>12.00 PM</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Number of Nights</strong>
                                                    </td>
                                                    <td>
                                                        @((@Model.Booking.ReturnDate - @Model.Booking.DepartureDate).TotalDays)
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                @if (!string.IsNullOrEmpty(hotel.CheckInInstructions))
                                {
                                    <tr class="has-top-border">
                                        <td colspan="2">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="25%">
                                                            <strong>Check-in Instruction: </strong>
                                                        </td>
                                                        <td>
                                                            <em>
                                                                @Raw(hotel.CheckInInstructions + " ")
                                                            </em>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                }
                                @if (!string.IsNullOrEmpty(supplierName) && supplierName.ToLower().Contains("agoda"))
                                {
                                    <tr class="has-top-border">
                                        <td colspan="2">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="25%">
                                                            <strong>Hotel Remark: </strong>
                                                        </td>
                                                        <td>
                                                            <em>
                                                                @hotel.Remarks
                                                            </em>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                }
                                <tr class="has-top-border">
                                    <td colspan="2">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <em>
                                                            *Notes: These are general checkin/checkout times. Please confirm with the hotel upon checking in to avoid inconvenience
                                                        </em>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pdf-detail type-2 paper_footer">
        <h4 class="text-center">&copy; Copyright 2018 Etihad Holidays.</h4>
    </div>
</div>
<p style="page-break-after: always;"></p>

<div class="paper">
    <div class="paper_content">
        <table class="pdf-branding has-bottom-margin" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr class="pdf-branding__horizontal-line">
                    <th class="text-left">
                        <img src="https://gqcdn.s3-ap-southeast-1.amazonaws.com/Images/Etihad/logo.png" alt="Etihad logo" class="pdf-branding__logo" />
                    </th>
                    <th class="text-right">
                        <h3>Contact Us</h3>
                    </th>
                </tr>
            </thead>
        </table>

        <table class="pdf-detail has-bottom-margin type-2" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        Got a question?
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="pdf-detail__sub type-3" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <p><strong>Should you have any questions, please contact our Customer Service Hotline: </strong></p>
                                        <ul>
                                            <li>
                                                <p>In UAE: 8002324</p>
                                            </li>
                                            <li>
                                                <p>In UK : 0345 600 8118</p>
                                            </li>
                                            <li>
                                                <p>In Bahrain : +973 16 500 444</p>
                                            </li>
                                            <li>
                                                <p>In Kuwait : +965 22 280 566</p>
                                            </li>
                                            <li>
                                                <p>In Oman : 800 76423</p>
                                            </li>
                                            <li>
                                                <p>In Saudi Arabia : 800 844 7893</p>
                                            </li>
                                            <li>
                                                <p>In other countries: +971 2 599 0700</p>
                                            </li>
                                            <li>
                                                <p>Or email us at <a href="mailto:support@etihadholidays.com">support@etihadholidays.com</a></p>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <p>
                                                    Our daily operating hours are from 08:00 AM to 10:00 PM UAE time.<br />
                                                    After office hours, please call this mobile number: +971 50 642 4022.
                                                </p>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pdf-detail type-2 paper_footer">
        <h4 class="text-center">&copy; Copyright 2018 Etihad Holidays.</h4>
    </div>
</div>